body {
  background-color: #f2f2f2;
  color: #111;
}

#reader-section,
#input-section,
#controls-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

#reader {
  width: 400px;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
}

#inputText {
  color: #aaa;
}

#controls {
  display: flex;
  gap: 10px;
}

.highlight {
  color: red;
}
