body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

#reader {
    width: 400px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}

.highlight {
  color: red;
}
